.bg-video{
position: fixed; right:0; bottom:0;
background-position: center;
 height:100%;
z-index:-100; background-size: cover;

 }
#footer {

background: #00000000;

}
body{

background-color:#adc3db;

}
#page-header {background-color:#0000}

::-webkit-scrollbar-track {
  background-color: #ccd3db;

}
::-webkit-scrollbar-thumb {
  background-color: #6d718c;
}