.blog-slider.swiper-container-fade.swiper-container-horizontal#swiper_container
  .blog-slider__wrp.swiper-wrapper(style='transition-duration: 0ms;')
    .blog-slider__item.swiper-slide(style='width: 750px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;')
      .blog-slider__img
        img(src='https://i.loli.net/2020/11/14/IwjmR45oX6tKUaB.png', alt='Markdown')
      .blog-slider__content
        span.blog-slider__code 2020-11-05
        a.blog-slider__title(href='https://www.yangkunpeng.top/2019/920b4cfa.html') 整理：几款好用的Markdown编辑器
        .blog-slider__text Markdown具有很多优点：写作中添加简单符号即完成排版，所见即所得。让你专注于文字而不是排版
        a.blog-slider__button(href='https://www.yangkunpeng.top/2019/920b4cfa.html') 详情

    .blog-slider__item.swiper-slide(style='width: 750px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;')
      .blog-slider__img
        img(src='https://i.loli.net/2020/11/14/E6ZaYCGIckQUMdn.png', alt='爬取酷狗TOP500的音乐信息')
      .blog-slider__content
        span.blog-slider__code 2020-10-31
        a.blog-slider__title(href='https://www.yangkunpeng.top/2019/3921d68a.html') 爬取酷狗TOP500的音乐信息
        .blog-slider__text 爬取酷狗音乐的TOP500的歌曲信息，包含排名，歌名，歌曲时长。分分钟爬取下来。
        a.blog-slider__button(href='https://www.yangkunpeng.top/2019/3921d68a.html') 详情

    .blog-slider__item.swiper-slide(style='width: 750px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;')
      .blog-slider__img
        img(src='https://i.loli.net/2020/11/14/J2TYmRn8aigxz1h.png', alt='切换网页标题')
      .blog-slider__content
        span.blog-slider__code 2020-10-18
        a.blog-slider__title(href='hhttps://www.yangkunpeng.top/2019/2ec86465.html') jQuery实现点击浏览器标签切换网页标题
        .blog-slider__text 浏览器标签切换网页标题
        a.blog-slider__button(href='https://www.yangkunpeng.top/2019/2ec86465.html') 详情

    .blog-slider__item.swiper-slide(style='width: 750px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;')
      .blog-slider__img
        img(src='https://i.loli.net/2020/11/14/E6ZaYCGIckQUMdn.png', alt='爬取猫眼电影最受期待排行榜')
      .blog-slider__content
        span.blog-slider__code 2020-10-26
        a.blog-slider__title(href='https://i.loli.net/2020/11/14/E6ZaYCGIckQUMdn.png') 爬取猫眼电影最受期待排行榜
        .blog-slider__text 分析网页结构。抓取电影的 排名，片名，上映时间，主演
        a.blog-slider__button(href='https://www.yangkunpeng.top/2019/ec8f6773.html') 详情

    .blog-slider__item.swiper-slide(style='width: 750px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;')
      .blog-slider__img
        img(src='https://i.loli.net/2020/11/14/J2TYmRn8aigxz1h.png', alt='点击网页出现会飘的文字')
      .blog-slider__content
        span.blog-slider__code 2020-10-16
        a.blog-slider__title(href='https://www.yangkunpeng.top/2019/8516ffa3.html') jQuery点击网页出现会飘的文字
        .blog-slider__text 点击网页出现会飘的文字
        a.blog-slider__button(href='https://www.yangkunpeng.top/2019/8516ffa3.html') 详情


  .blog-slider__pagination.swiper-pagination-clickable.swiper-pagination-bullets